body {
	
}

.write-container {
	position: relative;
}

.msgComposer {
	position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    padding: 15px;
    background: #fff;
    cursor: text;
    &:hover{
        opacity:0;
    }
}